Thumbs.db
.DS_Store
.gradle/
build/
target/
out/
.micronaut/
.idea/
*.iml
*.ipr
*.iws
*.log
.project
.settings
.classpath
.factorypath


logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp
/public/build/
.env*
/build/
.cache/